
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
    <link rel="stylesheet" href="~/Styles/HomeStyle.css"/>
</head>
<body>
    <h1>Welcome to our Travelling Blog</h1>
    <p><h3>Unplug from the Chaos | Travel More | Create Lasting Memories</h3></p><br>

    <p><img src="/Images/BackgroundImage.jpg" alt="Category Image" /></p>
    
  <nav>
    <a href="/Post/PostsIndex/" class="flexItem flexitem--1">Posts</a>
    <a href="/Category/Index/" class="flexItem flexitem--1">Categories</a>
    <a href="/Tag/Index/" class="flexItem flexitem--1">Tags</a>
  </nav>
    <footer><h6>&copy; Travel Blog 2019</h6></footer>
</body>
</html>
