
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to our Travelling Blog</h1>
    <p>We're all about travel</p>

    <p><img src="/Images/BackgroundImage.jpg" alt="Category Image" style="height: 120px; width: 200px;" /></p><hr />
    
    <p><a href="/Category/Index/">View All Blog Categories</a></p><br />
    <p><a href="/Post/AllPostsByCategory/"> View All Posts</a></p>

    <footer><h6>&copy; Travel Blog 2019</h6></footer>
</body>
</html>
