
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to our Travelling Blog</h1>
    <p>We'er all about travel</p>
</body>
</html>
