@model IEnumerable<MasteryBlog.Models.Category>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Travel Blog Categories</title>
</head>
<body>
    <h1>List of Travel Blog Categories</h1>
    @foreach (var category in Model)
    {
        <article>
            <p><a href="/Category/Details/@category.Id">@category.Name</a></p>
            <img src="@category.Image" alt="@category.Name" style="height: 120px; width: 200px;" />
        </article>
    }

    <a href="/Home/Index">Go Back</a>

</body>
</html>
