@model MasteryBlog.Models.Tag
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Name Tag Page</title>
    <link rel="stylesheet" href="~/Styles/DetailStyle.css" />
</head>
<body>
    <h1>Tag: #@Model.Name  </h1>
    <div>
        
        
        <p><a href="/Post/PostByTagID/@Model.TagID">View Posts with Related Tag</a></p>
    </div>
 

    <nav>
        <p><a href="/Home/Index">Home</a></p>
        <p><a href="/Tag/Index">Tags</a></p>
    </nav>
    <footer><h6>&copy; Travel Blog 2019</h6></footer>
</body>
</html>
