@model MasteryBlog.Models.Post
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create New Post By Category</title>
</head>
<body>

    <h4>Create New Post By Category</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <p><label asp-for="Title" class="control-label"></label></p>
                    <textarea asp-for="Title" rows="1" cols="60"class="form-control"></textarea>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                   <p><label asp-for="Body" class="control-label"></label></p> 
                    <textarea asp-for="Body" rows="6" cols="60 "class="form-control"></textarea>
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>

                <div class="form-group">
                   <p><label asp-for="Author" class="control-label"></label></p> 
                    <textarea asp-for="Author" rows="1" cols="30" class="form-control"></textarea>
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="hidden" class="form-control"/>
                    <span asp-validation-for="PublishDate" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <p>Tags</p>
                    <select name="Tag Options">
                        <option value="0">--Select One--</option>
                        <option value="1">Adventure</option>
                        <option value="2">Beach</option>
                        <option value="3">Explore</option>
                        <option value="4">Tour Guide</option>
                        <option value="5">Child Friendly</option>
                        <option value="6">Newlyweds</option>
                        <option value="7">Relaxation</option>
                        <option value="8">Exchange Rate</option>
                    </select>
                    <select name="Tag Options">
                        <option value="0">--Select One--</option>
                        <option value="1">Adventure</option>
                        <option value="2">Beach</option>
                        <option value="3">Explore</option>
                        <option value="4">Tour Guide</option>
                        <option value="5">Child Friendly</option>
                        <option value="6">Newlyweds</option>
                        <option value="7">Relaxation</option>
                        <option value="8">Exchange Rate</option>
                    </select>                   
                </div><br>

               
                <div class="form-group">                   
                    <input type="hidden" name="CategoryID" class="form-control" value="@ViewBag.CategoryID" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div><br>

    <div>
        <a asp-action="PostsIndex">Back To All Posts</a>
        <p><a href="/Home/Index/">Go Back To Home Page</a></p>
    </div>

                    @*<label asp-for="PostTags" class="control-label"></label>*@
                    @*<select name="@ViewBag.TagID">
                        @foreach (var tag in ViewBag.TagList)
                        {
                            <option value="@tag.TagID">@tag.Name</option>
                        }*@

</body>
</html>
